Repository IsaacHuo/agent-firewall: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, oxfmt, swiftlint, swiftformat, ruff-lint, ruff-format, frontend-lint

Path conditions:
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  oxfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  swiftlint: any of: \.swift$
  swiftformat: any of: \.swift$
  ruff-lint: any of: ^extensions/agent-firewall/ and \.py$
  ruff-format: any of: ^extensions/agent-firewall/ and \.py$
  frontend-lint: any of: ^extensions/agent-firewall/frontend/ and \.vue$, \.(ts|mts|cts)$, \.(js|mjs|cjs)$

feat(ui): Enhance tool cards with embedded output and smart naming
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
Due: frontend-lint

feat(ui): Add action buttons to assistant messages
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
Due: frontend-lint

feat(ui): Implement Phase 2 - TraceView Component Library
  extensions/agent-firewall/frontend/src/components/TraceView/README.md
  extensions/agent-firewall/frontend/src/components/TraceView/TraceHighlight.vue
  extensions/agent-firewall/frontend/src/components/TraceView/TraceLine.vue
  extensions/agent-firewall/frontend/src/components/TraceView/TraceView.vue
  extensions/agent-firewall/frontend/src/components/TraceView/TraceViewDemo.vue
  extensions/agent-firewall/frontend/src/components/TraceView/index.ts
  extensions/agent-firewall/frontend/src/components/TraceView/plugins/CodeHighlighter.vue
  extensions/agent-firewall/frontend/src/components/TraceView/plugins/ImageViewer.vue
  extensions/agent-firewall/frontend/src/components/TraceView/types.ts
Due: oxlint, oxfmt, frontend-lint

feat(playground): Implement Phase 3 - Policy Testing Environment
  extensions/agent-firewall/frontend/src/components/Playground.vue
  extensions/agent-firewall/src/engine/policy_dsl.py
  extensions/agent-firewall/src/main.py
  extensions/agent-firewall/tests/test_policy_dsl.py
Due: ruff-lint, ruff-format, frontend-lint

docs: Add Phase 3 completion summary
  PHASE3_COMPLETION_SUMMARY.md
Due: none

feat(dataset): Implement Phase 4 - Dataset Management
  extensions/agent-firewall/frontend/src/components/DatasetDetail.vue
  extensions/agent-firewall/frontend/src/components/DatasetList.vue
  extensions/agent-firewall/src/main.py
  extensions/agent-firewall/src/routes/__init__.py
  extensions/agent-firewall/src/routes/dataset.py
Due: ruff-lint, ruff-format, frontend-lint

docs: Add Phase 4 completion summary
  PHASE4_COMPLETION_SUMMARY.md
Due: none

feat(phase-5): Implement annotation system for trace analysis
  extensions/agent-firewall/frontend/src/components/TraceView/TraceLine.vue
  extensions/agent-firewall/frontend/src/components/TraceView/TraceView.vue
  extensions/agent-firewall/src/main.py
  extensions/agent-firewall/src/routes/trace.py
  extensions/agent-firewall/tests/test_annotations.py
Due: ruff-lint, ruff-format, frontend-lint

fix: restore media loading, remove sqlite, fix frontend types and upstream auth
  extensions/agent-firewall/data/firewall.db
  extensions/agent-firewall/data/traces.jsonl
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/DatasetDetail.vue
  extensions/agent-firewall/frontend/src/components/DatasetList.vue
  extensions/agent-firewall/frontend/src/components/FeishuConfig.vue
  extensions/agent-firewall/frontend/src/components/IntegrationsPage.vue
  extensions/agent-firewall/frontend/src/components/Playground.vue
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/logs/backend.log
  extensions/agent-firewall/logs/frontend.log
  extensions/agent-firewall/src/channels/feishu_adapter.py
  extensions/agent-firewall/src/config.py
  extensions/agent-firewall/src/main.py
  extensions/agent-firewall/src/storage/__init__.py
  extensions/agent-firewall/src/storage/sqlite.py
  src/web/media.ts
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

fix: handle implicit tool calls from Minimax and fix AppState storage access
  extensions/agent-firewall/data/traces.jsonl
  extensions/agent-firewall/logs/backend.log
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

fix: gateway token error
  extensions/agent-firewall/data/traces.jsonl
  extensions/agent-firewall/frontend/src/composables.ts
  extensions/agent-firewall/logs/backend.log
  extensions/agent-firewall/logs/frontend.log
  extensions/agent-firewall/scripts/start-all.sh
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint
