Repository IsaacHuo/agent-firewall: changes, and which pre-commit hooks are due for each by the changed paths.
All: oxlint, oxfmt, swiftlint, swiftformat, ruff-lint, ruff-format, frontend-lint

Path conditions:
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  oxfmt: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  swiftlint: any of: \.swift$
  swiftformat: any of: \.swift$
  ruff-lint: any of: ^extensions/agent-firewall/ and \.py$
  ruff-format: any of: ^extensions/agent-firewall/ and \.py$
  frontend-lint: any of: ^extensions/agent-firewall/frontend/ and \.vue$, \.(ts|mts|cts)$, \.(js|mjs|cjs)$

docs: add contributing guidelines and setup instructions
  README.md
Due: none

fix: firewall proxy bugs + L2 fail-open + UI error bubbles
  .gitignore
  README.md
  extensions/agent-firewall/frontend/src/components/EngineSettings.vue
  extensions/agent-firewall/src/config.py
  extensions/agent-firewall/src/dashboard/ws_handler.py
  extensions/agent-firewall/src/engine/semantic_analyzer.py
  extensions/agent-firewall/src/proxy/openai_adapter.py
  introduction.html
  introduction.md
  openclaw.podman.env
  ui/src/styles/chat/grouped.css
  ui/src/ui/chat/grouped-render.ts
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

feat: add Red Team Chat Lab with message intercept+modify+forward
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/frontend/src/components/Sidebar.vue
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

feat: add light/dark theme toggle with localStorage persistence
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/Sidebar.vue
  extensions/agent-firewall/frontend/src/composables.ts
Due: oxlint, oxfmt, frontend-lint

feat: add OpenClaw Gateway to start-all.sh / stop-all.sh
  scripts/start-all.sh
  scripts/stop-all.sh
Due: none

fix: Gateway WS protocol handshake — use correct JSON-RPC frame format
  extensions/agent-firewall/frontend/src/components/AgentsManager.vue
  extensions/agent-firewall/frontend/src/components/GatewayConfig.vue
  extensions/agent-firewall/frontend/src/components/SkillsManager.vue
  extensions/agent-firewall/frontend/src/composables.ts
Due: oxlint, oxfmt, frontend-lint

chore: improve start/stop scripts with health checks and optional gateway
  scripts/start-all.sh
  scripts/stop-all.sh
Due: none

feat(firewall): add MCP tool-calling support in Chat Lab with L1 analysis
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format, frontend-lint

chore(firewall): add browser globals to ESLint config
  extensions/agent-firewall/frontend/eslint.config.js
Due: oxlint, oxfmt, frontend-lint

refactor: replace hardcoded gateway tool defs with auto-discovery from TypeScript source
  extensions/agent-firewall/src/gateway_tools.py
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

feat: add Custom tab for self-configuring MCP servers and skills
  extensions/agent-firewall/frontend/src/components/AgentsManager.vue
  extensions/agent-firewall/frontend/src/composables.ts
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

fix: enable vertical scrolling on content-main panel
  extensions/agent-firewall/frontend/src/App.vue
Due: frontend-lint

feat: render audio/image/video/doc files inline in ChatLab
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format, frontend-lint

fix: resolve CORS issues for audio player and remove Dashboard tab
  audit/firewall.jsonl
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/Dashboard.vue
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

fix(scripts): remove set -e, fix gateway flag display, kill uvicorn workers on stop
  scripts/start-all.sh
  scripts/stop-all.sh
Due: none

docs: remove deleted Dashboard page from README
  README.md
Due: none

feat: redesign Settings page, add API key management, and ChatLab self-config option
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/frontend/src/components/EngineSettings.vue
  extensions/agent-firewall/frontend/src/components/GatewayConfig.vue
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/src/config.py
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

feat: streaming NDJSON for Chat Lab — backend yields events, frontend reads incrementally
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format, frontend-lint

feat(backend): add schemapage
  extensions/agent-firewall/.env.example
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/SchematicDiagram.vue
  extensions/agent-firewall/frontend/src/types.ts
  extensions/agent-firewall/src/main.py
  scripts/start-all.sh
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

fix: L2 semantic analyzer support for DeepSeek reasoning models
  AGENTS.md
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/AgentsManager.vue
  extensions/agent-firewall/frontend/src/components/ChatLab.vue
  extensions/agent-firewall/frontend/src/composables.ts
  extensions/agent-firewall/src/engine/semantic_analyzer.py
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format, frontend-lint

fix: increase L2 timeouts for reasoning models (DeepSeek CoT)
  extensions/agent-firewall/src/engine/semantic_analyzer.py
Due: ruff-lint, ruff-format

feat: add Feishu/Lark channel integration with WebSocket support
  extensions/agent-firewall/.env.example
  extensions/agent-firewall/FEISHU_INTEGRATION.md
  extensions/agent-firewall/requirements.txt
  extensions/agent-firewall/src/channels/__init__.py
  extensions/agent-firewall/src/channels/feishu_adapter.py
  extensions/agent-firewall/src/config.py
  extensions/agent-firewall/src/main.py
  extensions/agent-firewall/tests/test_feishu_adapter.py
Due: ruff-lint, ruff-format

chore: add python-socks for SOCKS proxy support
  extensions/agent-firewall/requirements.txt
Due: none

feat: implement full Feishu message processing pipeline
  extensions/agent-firewall/src/channels/feishu_adapter.py
  extensions/agent-firewall/src/feishu_tools.py
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

feat(frontend): add Feishu configuration page
  extensions/agent-firewall/frontend/src/App.vue
  extensions/agent-firewall/frontend/src/components/FeishuConfig.vue
Due: frontend-lint

docs: add Feishu integration summary
  extensions/agent-firewall/FEISHU_SUMMARY.md
Due: none

refactor(frontend): redesign Feishu channel page with dedicated traffic waterfall
  extensions/agent-firewall/frontend/src/components/FeishuConfig.vue
Due: frontend-lint

fix: add async event loop handling and Feishu API endpoints
  extensions/agent-firewall/src/channels/feishu_adapter.py
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

docs: add final completion report for Feishu integration
  extensions/agent-firewall/FEISHU_FINAL_REPORT.md
Due: none

feat(feishu): major upgrade - tool calling, performance optimization, and model config
  extensions/agent-firewall/FEISHU_MODEL_CONFIG.md
  extensions/agent-firewall/FEISHU_STATUS.md
  extensions/agent-firewall/FEISHU_UPGRADE.md
  extensions/agent-firewall/src/channels/feishu_adapter.py
  extensions/agent-firewall/src/config.py
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

docs: add Feishu tools implementation status and roadmap
  extensions/agent-firewall/docs/feishu/IMPLEMENTATION_STATUS.md
Due: none

feat: integrate all 46 Feishu tools via OpenClaw Gateway
  docs/feishu/INTEGRATION.md
  extensions/agent-firewall/FEISHU_FINAL_REPORT.md
  extensions/agent-firewall/FEISHU_INTEGRATION.md
  extensions/agent-firewall/FEISHU_MODEL_CONFIG.md
  extensions/agent-firewall/FEISHU_STATUS.md
  extensions/agent-firewall/FEISHU_SUMMARY.md
  extensions/agent-firewall/FEISHU_TOOLS_INTEGRATION.md
  extensions/agent-firewall/FEISHU_UPGRADE.md
  extensions/agent-firewall/src/feishu_tools.py
  extensions/agent-firewall/src/main.py
Due: ruff-lint, ruff-format

fix: add Gateway to start/stop scripts and fix openclaw config
  extensions/agent-firewall/scripts/start-all.sh
  extensions/agent-firewall/scripts/stop-all.sh
Due: none

fix: robust start/stop scripts with proper Gateway lifecycle
  extensions/agent-firewall/scripts/start-all.sh
  extensions/agent-firewall/scripts/stop-all.sh
Due: none

feat: discover plugin tools from channel/* directories
  extensions/agent-firewall/src/gateway_tools.py
Due: ruff-lint, ruff-format

fix: add compact Feishu tool usage examples in system prompt
  extensions/agent-firewall/src/gateway_tools.py
Due: ruff-lint, ruff-format

fix(feishu): correct tool action parameter handling and Gateway argument passing
  README.md
  channel/feishu/src/chat.ts
  channel/feishu/src/docx.ts
  channel/feishu/src/drive.ts
  channel/feishu/src/perm.ts
  channel/feishu/src/wiki.ts
  extensions/agent-firewall/docs/feishu/FEISHU_STATUS.md
  extensions/agent-firewall/docs/feishu/FEISHU_SUMMARY.md
  extensions/agent-firewall/scripts/start-all.sh
  extensions/agent-firewall/src/gateway_tools.py
  extensions/agent-firewall/src/main.py
Due: oxlint, oxfmt, ruff-lint, ruff-format

feat: add feishu doc creation test and remove deprecated scripts
  extensions/agent-firewall/test_feishu_create_doc.py
  scripts/start-all.sh
  scripts/stop-all.sh
Due: ruff-lint, ruff-format

fix(config): Align frontend and start script with Python backend (port 9090)
  extensions/agent-firewall/scripts/start-all.sh
Due: none
